<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reserva de Citas - Peluquería La Bella</title>
</head>
<body>
	<main>
		<section class="presentacion" style="margin-top: 28px;">
			<p>Reserva tus citas de peluquería de manera fácil y cómoda con nuestra app. Ahorra tiempo y disfruta de nuestros servicios de alta calidad en la comodidad de tu hogar.</p>
		</section>
		
		<section class="servicios">
			<div class="servicio">
				<img src="https://images.pexels.com/photos/2040189/pexels-photo-2040189.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Corte de cabello">
				<h3>Corte de cabello</h3>
				<p>Realizamos cortes de cabello modernos y personalizados para cada cliente.</p>
                <a (click)="irReservas()" class="boton">Reservar Cita</a>
			</div>
			<div class="servicio">
				<img src="https://images.pexels.com/photos/3993472/pexels-photo-3993472.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Peinado">
				<h3>Peinado</h3>
				<p>Ofrecemos peinados elegantes y modernos para toda ocasión.</p>
                <a (click)="irReservas()" class="boton">Reservar Cita</a>
			</div>
			<div class="servicio">
				<img src="https://images.pexels.com/photos/3993323/pexels-photo-3993323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Tinte de cabello">
				<h3>Tinte de cabello</h3>
				<p>Tenemos una amplia variedad de colores y técnicas de tinte para elegir.</p>
                <a (click)="irReservas()" class="boton">Reservar Cita</a>
			</div>
		</section>
	</main>
</body>
</html>
