<div class="container mb-5" style="margin-top: 120px;">  
    <p class="presentacion">
        Somos una peluquería pequeña de Brenes, en la cual nos dedicamos a ofrecer servicios de calidad para el cuidado y 
        embellecimiento de tu cabello con un trato cercano, y al mejor precio.
    </p>
    <div class="row justify-content-center">
        <div class="ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.350396033082!2d-6.052069899999999!3d37.3578851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126dcd12de0243%3A0xb0d23de1bd2d5c22!2sBeeHackers!5e0!3m2!1ses!2ses!4v1686221075864!5m2!1ses!2ses" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5 col-12">
            <div class="contenido">
                <h2>Horario de atención</h2>
                <p>Lunes a viernes: 10:00 AM - 7:00 PM</p>
                <p style="color: transparent;">a</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-12">
            <div class="contenido">
                <h2>Contacto</h2>
                <p>Teléfono: +34 627 65 25 16</p>
                <p>Email: pelucitasapp@gmail.com</p>
            </div>
        </div>
    </div>
</div>
